<form method="post" action="/stylists">
  <h3>Add new stylists</h3>
  <input id="name" name="name" type="text" class="form-control" placeholder="Stylist Name">
  <br>
  <button type="submit" class="btn btn-md btn-success">Add Stylist</button>
</form>