<div class="client-form">
  <form action="/clients/$client.getId()" method="post">
    <h3>Update $client.getName()'s name</h3>
    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" type="text" name="name" id="name">
    </form>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>